.coffee-item {
  margin: 15px;
  /*
  &:hover {
    -webkit-box-shadow: 4px 4px 18px 2px rgba(219,153,109,1);
    -moz-box-shadow: 4px 4px 18px 2px rgba(219,153,109,1);
    box-shadow: 4px 4px 18px 2px rgba(219,153,109,1);
    transition: $fast-ease;
  }*/
}
