@import './global-variables.scss';
@import './fonts.scss';

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
  font-family: $font-main;
  background-color: $light-cream;
}

.align-center {
  text-align: center;
  margin: auto;
  float: none;
}

#landing {
  transition: $mid-ease;
  margin-top: 6vh;
  @include sm {
    margin-top: 28vh;
  }
  @include md {
    margin-top: 21vh;
  }
  @include lg {
    margin-top: 16vh;
  }
  & .coffee-image {
    width: 90%;
    margin: 5%;
  }
  & .btn-big {
    height: 4rem;
    width: 60%;
    border-radius: 0.5rem;
    background-color: $p-accent;
    color: $p-primary;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    &:hover {
      background-color: $p-accent-darker;
    }
  }
}
