@import './global-variables.scss';
@import './fonts.scss';

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
  font-family: $font-main;
  background-color: $light-cream;
}

.align-center {
  text-align: center;
  margin: auto;
  float: none;
}

.coffee-greeting {
  @extend .align-center;
  @include sm {
    text-align: left;
    & .content {
      margin-left: 3vw;
    }
  }
  @include md {
    position: relative;
    margin-bottom: 0;
  }
}

#landing {
  transition: $mid-ease;
  margin-top: 6vh;
  @include sm {
    margin-top: 30vh;
  }
  @include md {
    margin-top: 23vh;
  }
  @include lg {
    margin-top: 16vh;
  }
  & .coffee-image {
    width: 80%;
    margin: 5% 10% 2vh 10%;
    @include sm {
      width: 100%;
      margin: 0;
    }
    @include lg {
      width: 90%;
      max-width: 450px;
      margin: 5% 5% 0 15%;
    }
    @include xl {
      margin-left: 22%;
    }
  }
  & .btn-big {
    height: 4rem;
    width: 60%;
    border-radius: 0.5rem;
    background-color: $p-accent;
    color: $p-primary;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 400;
    //box-shadow: 5px 10px $p-accent-darker;
    &:hover {
      background-color: $p-accent-darker;
    }
    @include sm {
      width: 100%;
    }
    @include lg {
      width: 60%;
    }
  }
}
