@import './global-variables.scss';
@import './fonts.scss';

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html, body {
  font-family: $font-main;
  background-color: $light-cream;
}

.align-center {
  text-align: center;
  margin: auto;
  float: none;
}

#landing {
  margin-top: 16vh;
  height: 84vh;
  & .coffee-image {
    width: 90%;
    margin: 5%;
  }
  & .btn-big {
    height: 4rem;
    width: 60%;
    border-radius: 2rem;
    background-color: $tan;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    &:hover {
      background-color: $tanner;
    }
  }
}
